/* styles/styles.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/image/image.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.language-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.language-selector img {
    width: 23px;
    height: 15px;
    margin-right: 5px;
}

.language-selector select {
    border: none;
    background: none;
    font-size: 14px;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.sign-in {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button.staff {
    background-color: #ccc;
    color: #000;
}

.button.guest {
    background-color: #007bff;
    color: #fff;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 12px;
}

.checkbox-container input {
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.footer .contact {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .contact i {
    margin-right: 5px;
    transform: scaleX(-1);
}

.flag-option {
    display: flex;
    align-items: center;
}

.flag-option img {
    margin-right: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover, a:focus {
    text-decoration: none;
}
.logo {
    margin-left: 47%;
}